/* ******************** Framework ******************** */

::-webkit-scrollbar {width: 1px;background-color: #c5f0f4;}

::-webkit-scrollbar-track { box-shadow: inset 1px 2px 5px #0A79DF; }

::-webkit-scrollbar-thumb { background-color: #3fcbd8;border-radius: 5px; }

/* ****************** App style ****************** */


.article {
    height: 455px;
}

.card-header h5 {
    height: 120px;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
}

.card,.card-body{
    height: 100%;
}

.img-holder {
    height: 200px;
    background-color: blueviolet;
}

.img-holder img {
    height: -webkit-fill-available;
    height: -o-fill-available;
    object-fit: cover;
    width: 100%;
}