/* Global style */

html {
    --main-color: #1D1D1D;
    --second-color: #373737;
    --third-color: #e4caab;
    min-height: 100vh;
}

body {
    /* font-family: 'Overpass', sans-serif !important; */
    font-family: 'Times New Roman', Times, serif !important;
    background-color: var(--main-color);
    background-image: url('./components//imgs/landing/BackgroundLines.png');
    background-size: 100%;
    -webkit-background-repeat-x: no-repeat;
    -webkit-background-repeat-y: repeat;
    -moz-background-repeat-x: no-repeat;
    -moz-background-repeat-y: repeat;
}

main {
    min-height: 100vh;
}

/* headers */

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 15px;
    padding: 10px 0px;
    color: #EEE;
}

h2 {
    margin-bottom: 25px;
    padding: 15px 0px 10px;
    position: relative;
    font-size: 48px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    color: var(--third-color);
}

h2::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 60px;
    /* border: 1px solid #ac752f; */
    border: 1px solid var(--third-color);
}

/* Paragraph */

p {
    color: #EEE;
}

/* link */

a {
    transition: .6s;
    font-weight: bold;
    letter-spacing: .8px;
    color: #EEE;
}

a:hover,
a:focus {
    text-decoration: none !important;
    color: var(--third-color);
}

/* inputs */

label {
    color: var(--third-color);
    font-size: 18px;
}

button {
    border-radius: 0 !important;
    background-color: transparent;
    color: var(--third-color);
    padding: 8px 25px;
    border: 1px solid var(--third-color);
    text-transform: uppercase;
    margin: 10px 0px;
    display: inline-block;
    font-weight: 600;
    transition: .4s;
    width: fit-content;
}

button span {vertical-align: text-top; }

button:focus {
    outline: none;
}

.landing-button,
.social-button {
    background-color: transparent;
    color: var(--third-color);
    padding: 8px 25px;
    border: 1px solid var(--third-color);
    text-transform: uppercase;
    margin: 10px 0px;
    display: inline-block;
    font-weight: 600;
    transition: .4s;
}

.social-button {
    width: 60px;
    height: 60px;
    padding: 15px;
    margin: 10px;
}

.landing-button:hover,
.social-button:hover,
button:hover {
    color: #FFF;
    background-color: var(--third-color);
}

.page-header {
    margin-bottom: 48px;
}

@media(max-width: 567px) {
    .page-header h2 {
        font-size: 32px;
    }
}

/* ******************** Framework ******************** */

.bg-main {
    background-color: var(--main-color) !important;
}

.bg-second {
    background-color: var(--second-color) !important;
}

.bg-third {
    background-color: var(--third-color) !important;
}

.color-main {
    color: var(--main-color) !important;
}

.color-second {
    color: var(--second-color) !important;
}

.color-third {
    color: var(--third-color) !important;
}

.row {
    width: -webkit-fill-available;
    width: -moz-fill-available;
    width: -o-fill-available;
    width: -ms-fill-available;
}

.flag {
    width: max-content;
    padding-right: 25px;
}

.alert {
    border-radius: 0;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.spinner-outer {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    border: 5px solid var(--third-color);
    position: relative;
}

.spinner-inner {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 2px solid var(--third-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-name: loader;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.uploading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #1D1D1D99;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-form {
    background-color: var(--second-color);
}

.add-form .MuiFilledInput-input {
    background-color: #FFF !important;
    color: var(--second-color) 
}

.add-form .MuiInputLabel-filled,
.add-form .MuiFormLabel-root.Mui-focused {
    color: #d3b48e 
}

.add-form .MuiFilledInput-underline:before {
    border-bottom-color: var(--third-color) 
}

.add-form .MuiFilledInput-underline:after {
    border-bottom-color: var(--third-color)
}

.add-form .text-editor-toolbar {
    border-radius: 0;
}

.add-form .rdw-dropdown-selectedtext {
    color: #d3b48e;
}

.add-form .MuiFilledInput-multiline,
.add-form .text-editor-content {
    background-color: #FFF !important;
    border-radius: 0;
    min-height: 50vh;
    padding: 12px 10px;
}

.add-form .text-editor-content h1,
.add-form .text-editor-content h2,
.add-form .text-editor-content h3,
.add-form .text-editor-content h4,
.add-form .text-editor-content h5,
.add-form .text-editor-content h6,
.add-form .text-editor-content p {
    color: var(--main-color);
}

legend.MuiFormLabel-root {
    color: #FFF
}

.user-role {
    font-size: 1.4rem;
    vertical-align: middle;
    padding: 4px 8px;
    border-radius: 5px;
}

.user-owner {
    background-color: #e8c05a;
}

.user-admin {
    background-color: #292;
}

.user-editor {
    background-color: #569484;
}

.MuiRadio-colorSecondary.Mui-checked {
    color: var(--third-color) !important;
}

.MuiListItem-secondaryAction {
    background-color: var(--second-color);
    margin-bottom: 20px !important;
    padding-right: 96px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important
}

.MuiListItemText-secondary {
    color: var(--third-color) !important;
}

.shaking-message {
    position: relative;
    animation-name: shaking-message;
    animation-duration: .3s;
}

.divider {
    border-bottom: 1px solid #EEE;
    margin: 20px auto;
}

.clickable {
    cursor: pointer !important
}

.MuiTypography-root {
    padding-left: 0;
    padding-right: 0;
}

.MuiPaginationItem-root {
    color: var(--third-color) !important;
}

.MuiPaginationItem-page.Mui-selected {
    background-color: rgb(255 255 255 / 10%) !important;
}

.MuiButton-containedPrimary {
    background-color: var(--third-color) !important;
    color: #FFF !important;
    font-weight: bold !important;
    border-radius: 0 !important;
}

button.Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
    background-color: rgba(102, 102, 102, 0.12) !important;
}

.MuiFilledInput-underline:before {
    border: none !important;
}

.MuiAlert-root {
    border-radius: 0 !important;
}

.search-box label {
    font-size: 14px;
}

.search-box input,
.search-box .MuiInputBase-multiline,
.search-box .MuiFilledInput-root:hover,
.search-box .MuiTextField-root {
    color: #FFF;
    border-radius: 0;
    width: -webkit-fill-available;
}

.search-box .MuiButtonBase-root {
    box-shadow: none !important;
}

.search-box .MuiButton-iconSizeLarge > *:first-child {
    font-size: 1.8rem;
} 

.search-box .MuiButton-startIcon {
    margin: 0;
}

.search-box input:before,
.search-box input:after,
.search-box label {
    color: var(--third-color) !important;
}

.search-box .MuiFilledInput-underline:after {
    border-color: var(--third-color) !important;
}

.lower-nav .search-box input[type='search']:focus::placeholder {
    opacity: 0;
}

.lower-nav .search-box-icon button {
    padding: 8px 12px 4px;
    background-color: var(--third-color);
    border-radius: 0;
    border: none;
    color: #888;
}

.lower-nav .search-box-icon button:focus {
    border: none;
    outline: none;
}

/* ****************** App style ****************** */

::-webkit-scrollbar {
    width:8px;
}

/* ::-webkit-scrollbar-track { } */

::-webkit-scrollbar-thumb { 
    background-color: var(--third-color);
    border-radius: 1px;
    cursor: pointer;
    opacity: .7;
}

/* navbar */

nav.navbar {
    padding: 0;
}

nav.navbar .upper-nav {
    background-color: var(--second-color);
    /* border-bottom: 1px solid var(--third-color); */
}

nav.navbar .logo {
    font-weight: bolder;
    font-size: 44px;
    color: var(--third-color);
}

nav.navbar .logo h1 {
    background-color: transparent;
}

.upper-nav .navbar-social a {
    color: #EEE ;
    padding: 0px 5px;
}

.upper-nav button a {
    color: #EEE
}

.user-dropdown-menu {
    top: 100%;
    right: 0;
    min-width: 200px
}

nav.navbar .lower-nav {
    padding: 0px 0px 10px;
    background-color: #373737;
}

nav.navbar .lower-nav ul li {
 padding-right: 15px;
}

nav.navbar .lower-nav a {
    font-size: 16px;
}

nav.navbar .lower-nav a:hover,
nav.navbar .lower-nav a:focus {
    color: var(--third-color) !important;
}

.nav-bottom-border {
    border-bottom: 1px solid var(--third-color);
}

.mobile-menu {
    position: relative;
    padding-bottom: 10px;
    margin: 10px 0px;
}

.mobile-menu > span {
    color: var(--third-color) !important;
    border: 1px solid var(--third-color);
}

.mobile-nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 99999;
    background-color: var(--main-color);
    width: 100%;
    padding: 10px;
}

.mobile-nav-links li a {
    padding: 8px 16px;
    display: block;
    border-bottom: 1px solid var(--third-color);
}

nav.navbar .lower-nav .mobile-nav-links li a:hover,
nav.navbar .lower-nav .mobile-nav-links li a:focus {
    background-color: var(--third-color);
    color: var(--main-color) !important;
}

.mobile-nav-links li:last-child a {
    border: none;
}

/********* Landing Page Style ***********/

/* Landing Header */

.landing-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    max-width: 100%;
    transition: .4s;
}

.landing-menu ul {
    /* background-color: #26201c88; */
    background-color: var(--second-color);
    border-right: 1px solid var(--third-color);
    padding-top: 17px
}

.landing-menu.closed {
    transform: translateX(-100%);
}

.landing-menu.open {
    transform: translateX(0%);
}

.landing-menu-button {
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 106;
    color: #FFF;
    cursor: pointer;
    padding: 8px;
}

.landing-menu-button svg {
    border: 1px solid var(--third-color);
    font-size: 44px;
    transition: .4s;
}

.landing-menu-button svg:hover,
.landing-menu-button svg:focus {
    background-color: var(--third-color);
}

.landing-menu ul li a {
    color: #FFF;
    padding: 14px 14px;
    font-size: 1.2rem;
    display: inline-block;
    min-width: 220px;
    display: flex;
    justify-content: space-between;
}

.landing-menu ul li a:hover,
.landing-menu ul li a:focus {
    color: var(--second-color);
    background-color: var(--third-color);
    padding-left: 18px;
}

.landing-menu ul li:hover:before,
.landing-menu ul li:hover:after{
    border-right-color: var(--third-color);
    border-bottom-color: var(--third-color);
}

.landing-header img {
    width: 100%;
}

.top-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-73%);
    text-transform: uppercase;
    border: 7px solid var(--third-color);
    padding: 3rem 4rem;
    z-index: 100;
}

@media(max-width: 991px) {
    .top-text {
        padding: 3% 5%;
        z-index: 104;
        transform: translateX(-50%) translateY(-50%);
    }
}

@media(max-width: 767px) {
    .top-text {
        padding: 15px;
        transform: translateX(-50%) translateY(-30%);
        border: none
    }
}

.landing-header .forward-header-image {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    z-index: 101;
}

span.top-text-slogan {
    color: #FFF;
    font-weight: 600;
    font-size: 14pt;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 5px;
}

@media(max-width: 567px) {
    span.top-text-slogan {
        font-size: 14px
    }
}

.top-text span.top-text-slogan:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 60px;
    transform: translateX(-50%);
    border: 1px solid #FFF;
}

.landing-page-logo {
    margin: 0;
    font-size: 6.5rem;
    color: #FFF !important;
    font-family: 'DroidSerif',serif;
    text-transform: capitalize;
    line-height: 110px;
    transform: scaleX(1.1);
    width: min-content;
    margin: auto;
}

@media(max-width: 567px) {
    .landing-page-logo {
        font-size: 60px;
        line-height: 5rem;
    }
}

.top-text p {
    color: #ac752f;
    font-weight: 600;
    letter-spacing: -.6px;
    margin: 0;
    transform: scaleY(.9);
    max-width: 100%;
}

@media(max-width: 567px) {
    .top-text p {
        font-size: 14px
    }
}

/******* Landing Content *********/

.landing-page-content {
    height: 100%;
    background-color: #FFF;
    background-image: url('./components//imgs/landing/BackgroundLines.png');
    background-size: 100%;
    -webkit-background-repeat-x: no-repeat;
    -webkit-background-repeat-y: repeat;
    -moz-background-repeat-x: no-repeat;
    -moz-background-repeat-y: repeat;
}

/* Landing About Us */

.landing-about-us {
    padding: 130px 0px;
}

.landing-about-us .about-us {
    background-color: #373737;
    color: var(--third-color);
    padding: 50px;
}

@media(max-width: 767px) {
    .landing-about-us .about-us {
        padding: 25px;
    }
    
}

.about-us-image {
    position: absolute;
    z-index: 102;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    text-align: center;
}

@media(max-width: 991px) {
    .about-us-image {
        position: static;
        transform: none;
        margin: 25px auto;
    }
}

.about-us-image img {
    max-width: 500px;
    margin: auto;
}

@media(max-width: 991px) {
    .about-us-image img {
        max-width: 100%;
    }
}

/* Landing Latest Articles Style */

.landing-latest-articles {
    padding: 100px 0px;
}

.landing-latest-articles .row > div {
    max-width: 340px;
}

.landing-article-card-image {
    position: relative;
    max-height: 220px;
    max-width: 100%;
    width: 290px;
    height: 220px;
    margin: auto;
}

.card-image-shadow {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #333;
    top: 0;
    left: 0;
    z-index: 102;
}

.landing-article-card-image img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 93%;
    height: 90%;
    z-index: 103;
}

@media(min-width: 992px) {
    .landing-article-card.middle-card {
        padding-top: 75px;
    }
}

.landing-card-content {
    padding: 0px 15px;
}

.landing-card-content > div {
    padding: 12px 0px;
}

.landing-card-content h5 {
    color: var(--third-color);
    font-family: serif;
    border-bottom: 1px solid var(--third-color);
    padding: 15px 0px;
}

.landing-card-content a {
    color: var(--third-color);
    font-weight: bold;
}

/* Gallery Section Style  */

.landing-gallery {
    padding: 80px 0px
}

.gallery-areas img {
    max-width: 100%;
}

.gallery-image-1 {
    width: 260px;
}

.gallery-image-3 {
    width: 290px;
}

.gallery-image-4 {
    height: 180px;
    margin-top: auto;
}

.gallery-image-6 {
    width: 270px;
}

.gallery-image-7 {
    height: 180px;
}

@media(max-width: 767px) {
    .gallery-areas a,
    .gallery-areas img {
        width: 100%;
    }
}

/* Landing Contact Us Section Style */

.landing-contact-us {
    padding: 130px 0px;
}

.landing-contact-us .contact-us {
    background-color: #373737;
    color: var(--third-color);
    padding: 50px;
}

@media(max-width: 767px) {
    .landing-contact-us .contact-us {
        padding: 25px;
    }
    
}

.contact-us-text p {
    color: #FFF;
    margin-bottom: 35px;
    font-size: 13px;
}


.contact-us-image {
    position: absolute;
    z-index: 102;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    text-align: center;
}

@media(max-width: 991px) {
    .contact-us-image {
        position: static;
        transform: none;
        margin: 25px auto;
    }
}

.contact-us-image img {
    max-width: 500px;
    margin: auto;
}

@media(max-width: 991px) {
    .contact-us-image img {
        max-width: 100%;
    }
}

.landing-contact-us .contact-us input,
.landing-contact-us .contact-us .MuiInputBase-multiline,
.landing-contact-us .contact-us .MuiFilledInput-root,
.landing-contact-us .contact-us .MuiTextField-root {
    background-color: transparent !important;
    color: #FFF;
}

.landing-contact-us .contact-us input,
.landing-contact-us .contact-us .MuiInputBase-multiline {
    border-bottom: 1px solid #FFF;
}

.landing-contact-us .contact-us .MuiInputBase-multiline {
    padding: 0;
}

.landing-contact-us .contact-us input:before,
.landing-contact-us .contact-us input:after,
.landing-contact-us .contact-us label {
    color: #FFF !important;
    font-size: 14px;
}

/* Landing Soccial Links Style */

.landing-social-links {
    padding: 40px 0px 80px;
}

/**************** Articles Page Style *******************/

.favorite-articles .landing-article-card,
.articles .landing-article-card {
    background-color: #d3b48e11;
    height: 100%;
}

.favorite-articles .landing-article-card .article-meta span,
.articles .landing-article-card .article-meta span {
    color: var(--third-color);
}

.favorite-articles a.landing-card-read-more,
.articles a.landing-card-read-more {
    font-size: 1.3rem;
}

.favorite-articles .landing-card-content button,
.articles .landing-card-content button {
    color: var(--third-color);
}

/* Article Body Style */

.article-body {
    background-color: var(--second-color);
}

.article-body .article-image {
    border-bottom: 3px solid var(--third-color);
    width: 100%;
}

.article-body h1 {
    color: #FFF;
    font-weight: bold;
}

.article-body .article-meta {
    background-color: var(--third-color);
    color: var(--second-color);
    font-weight: bold;
}

.article-body .article-tag {
    padding: 8px 15px;
    background-color: var(--third-color);
    color: var(--second-color)
}

.article-body p span,
.article-body p {
    color: #FFF !important;
    background-color: transparent !important;
}

.article-body .article-categories {
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.article-body .article-categories span {
    color: var(--second-color);
    background-color: #FFF;
    font-weight: bold;
    padding: 4px 8px;
    margin-right: 5px;
    border: 1px solid var(--third-color);
    text-transform: capitalize;
}

/* Sidebar Style */

.sidebar {
    background-color: var(--second-color);
}

.sidebar h5 {
    color: #FFF;
    font-weight: bold;
}

/* Latest Article Card Style */

.latest-article-card {
    box-shadow: 0px 0px 1px 1px var(--third-color);
    background-color: var(--main-color);
    transition: .4s;
}

.latest-article-card img {
    width: 75px;
    height: 100%;
    object-fit: cover;
}

.latest-article-card h6 {
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

/* Contact Us , SignIn and SignUp Pages Style */

.contact-us input,
.contact-us .MuiInputBase-multiline,
.contact-us .MuiFilledInput-root:hover,
.contact-us .MuiTextField-root,
.signin input,
.signin .MuiInputBase-multiline,
.signin .MuiFilledInput-root:hover,
.signin .MuiTextField-root,
.signup input,
.signup .MuiInputBase-multiline,
.signup .MuiFilledInput-root:hover,
.signup .MuiTextField-root {
    color: #FFF;
    border-radius: 0;
    font-size: 21px
}

.contact-us .MuiFilledInput-input,
.signin .MuiFilledInput-input,
.signup .MuiFilledInput-input {
    padding: 40px 12px 10px !important
}

.contact-us input:before,
.contact-us input:after,
.contact-us label,
.signin input:before,
.signin input:after,
.signin label,
.signup input:before,
.signup input:after,
.signup label {
    color: var(--third-color) !important;
}

.contact-us .MuiFilledInput-underline:after,
.signin .MuiFilledInput-underline:after,
.signup .MuiFilledInput-underline:after {
    border-color: var(--third-color) !important;
}

.signin-divider {
    position: relative;
    margin: 35px auto;
    border-color: var(--third-color);
}

.signin-divider::after {
    content: 'or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--third-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}

/* Admin Panel Style */

/* Dashaboard */

.dashboard-stats {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 36px;
}

.dashboard-stats .dashboard-stat {
    background-color: var(--second-color);
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid var(--third-color);
}

.dashboard-stats .dashboard-stat a,
.dashboard-stats .dashboard-stat h3 {
    color: var(--third-color)
}

.dashboard-stats .dashboard-stat > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard-stats .dashboard-stat .stat-number span {
    font-size: 2.5rem;
}


.dashboard .website-activity {
    margin-bottom: 36px;
}

.dashboard .website-activity > div {
    background-color: var(--second-color);
    padding: 15px;
}

@media(max-width: 450px) {
    .dashboard .website-activity > div {
        padding: 0;
    }
}

.dashboard .website-activity canvas {
    max-width: 100%;
    max-height: 300px;
}

.dashboard-latest-comments  > div,
.dashboard-latest-articles > div {
    background-color: var(--second-color);
    padding: 10px;
}

.latest-comment,
.latest-article {
    display: flex;
    justify-content: space-between;
}

.dashboard-latest-comments  a,
.dashboard-latest-articles a {
    color: var(--third-color);
}

.dashboard-latest-comments .comment-date,
.dashboard-latest-articles .article-date {
    font-weight: 100;
}

.admin-panel-content {
    /* left: auto; */
    transition: .8s;
}

.drawer {
    background-color: var(--second-color);
    flex: .25;
    min-width: 250px;
    min-height: 100vh;
    transition: .7s;
    left: 0;
    top: 0;
    z-index: 100
}

.drawer .upper-drawer {
    border-left: 1px solid var(--third-color)
}

.drawer .upper-drawer button {
    color: var(--third-color);
    height: fit-content;
}

.drawer-closed {
    position: absolute;
    height: 100%;
    left: -185px;
    top: 0;
}

.drawer-open {
    position: relative;
    left: 0;
    top: 0;
}

.drawer-replace {
    width: 65px;
}

@media(max-width: 991px) {
    .drawer-open {
        min-height: 100%;
        position: absolute;
    }
}

@media(max-width: 360px) {
    .drawer {
        min-width: fit-content;
        min-height: 100%;
    }
    .upper-drawer {
        position: absolute;
        left: 100%;
    }
    .drawer-replace {
        width: 0px;
    }
}

/* .drawer-open {

} */

.drawer ul a,
.drawer ul svg {
    color: var(--third-color)
}

/* all Articles  */

@media(max-width: 767px) {
    .all-articles .article-item {
        flex-flow: column;
        padding-right: 48px;
    }
}

.all-articles li img {
    object-fit: cover;
}

.all-articles .MuiListItemText-primary {
    font-size: 21px !important;
}

@media(max-width: 767px) {
    .all-articles .MuiListItemSecondaryAction-root {
        display: flex;
        flex-flow: column;
    }
}

.article-is-published .MuiAlert-root {
    padding: 0px 15px
}

.article-options {
    background-color: var(--second-color);
}

/* add article form */

.categories-input {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}

.MuiCheckbox-colorPrimary.Mui-checked {
    color: var(--third-color) !important;
}

#add-category-btn,
#add-tag-btn {
    min-width: fit-content;
}

.tag,
.category {
    background-color: var(--main-color);
    color: #FFF;
    border-radius: 3px;
    font-weight: bold;
}

.remove-tag,
.remove-category {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .4s;
}

.add-image-button {
    width: 100%;
    color: var(--second-color);
    background-color: rgb(238, 238, 238);
    font-size: 24px;
    border-radius: 0px;
    border: 3px dashed var(--third-color);
}

.add-image-button svg {
    font-size: 54px
}

.post-preview-panel {
    background-color: #FFF;
    padding: 25px;
    /* border: 2px solid var(--third-color); */
    min-height: 500px;
    overflow-y: auto;
}

@media(max-width: 768px ) {
    .post-preview-panel {
        padding: 15px;
    }
}

.post-preview-panel .post-image-holder-preview {
    border-bottom: 3px solid var(--third-color);
}

.post-preview-panel .article-categories {
    bottom: 5px;
    left: 5px;
    display: flex;
    flex-wrap: wrap
}

.post-preview-panel .article-categories span {
    color: var(--second-color);
    background-color: #FFF;
    font-weight: bold;
    font-size: 10px;
    padding: 4px 8px;
    margin-right: 5px;
    border: 1px solid var(--third-color);
    text-transform: capitalize;
}

.post-preview-panel h1 {
    font-size: 24px !important;
    color: var(--second-color)
}

.post-preview-panel .article-meta {
    background-color: var(--third-color);
    color: var(--second-color);
    font-weight: bold;
}

.post-preview-panel .article-author {
    font-size: .7rem;
    padding: 5px;
    color: var(--second-color);
}

.post-preview-panel .article-date {
    font-size: .7rem;
    color: var(--second-color);
    padding: 4px
}

.post-preview-panel p {
    font-family: sans-serif;
    font-size: 12px;
    padding: 0px 4px;
    white-space: pre-line;
    color: var(--main-color);
}

.article-tag-preview {
    padding: 4px 8px;
    font-size: 12px;
    background-color: var(--third-color);
    color: var(--second-color)
}


/* Upload Photos */

.upload-photos .add-photo-button {
    width: 100%;
    min-height: 200px;
    border: 0;
    background-color: var(--second-color);
    color: #FFF;
    font-size: 28px;
}

.upload-photos .photos-preview {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,auto));
    column-gap: 10px;
}

.upload-photos .photos-preview .image-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upload-photos .image-item__btn-wrapper button {
    font-size: 12px;
}

.upload-photos .photos-preview img {
    width: 100%;
    cursor: zoom-in;
}

.upload-photos .photo-full-preview {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 95%;
    z-index: 1000000;
    background-color: var(--second-color);
    border: 1px solid var(--third-color);
    box-shadow: 0px 0px 5px 5px var(--third-color);
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%) translateY(-50%);
}

.upload-photos .photo-full-preview-hide {
    opacity: 0;
    transform: scale(0) translateX(-50%) translateY(-50%);
}

.upload-photos .photo-full-preview-show {
    opacity: 1;
    transform: scale(1) translateX(-50%) translateY(-50%);
}

.upload-photos .photo-full-preview img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.upload-photos .photo-full-preview-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--third-color);
    border: 1px solid var(--third-color);
    border-radius: 50%;
    cursor: pointer;
    transition: .4s;
}

.upload-photos .photo-full-preview-close:hover {
    background-color: var(--third-color);
    border-color: var(--second-color);
    color: var(--second-color);
}

/* Footer */

footer {
    background-color: var(--second-color);
    border-top: 1px solid var(--third-color);
    padding: 15px 0px;
}

footer p {
    color: #FFF;
    margin: 0;
}

/* 404 Page Style */

.page-not-found {
    height: 100%;
    padding: 50px 0px;
}

.page-not-found p:first-child {
    font-size: 34px;
}

.page-not-found p:last-child svg {
    font-size: 4rem;
}

 /* Flash Message Style */

 .flash-message {
    color: #FFF;
    position: fixed;
    top: 100%;
    right: 20px;
    z-index: 999;
    background-color: var(--main-color);
    font-weight: bold;
    border: 1px solid var(--third-color);
    padding: 15px;
    border-radius: 5px;
    animation-name: flash-message;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.15, 1.38, 0.65, 1.3);
    max-width: 80%
}

.flash-message::before {
    content: '';
    position: absolute;
    top: 100%;
    right: 25px;
    border: 8px solid transparent;
    border-top: 8px solid var(--third-color);
    border-right: 8px solid var(--third-color);
}

/* Animations */

@keyframes shaking-message {
    0% {
        transform: translateX(10px);
    } 20% {
        transform: translateX(-20px);
    } 40% {
        transform: translateX(20px);
    } 60% {
        transform: translateX(-20px);
    } 80% {
        transform: translateX(20px);
    } 100% {
        transform: translateX(-10px);
    }
}

@keyframes loader {
    0% {
        width: 0px;
        height: 0px;
        opacity: 1;
    } 10% {
        width: 15px;
        height: 15px;
        opacity: 0;
    } 20% {
        width: 30px;
        height: 30px;
        opacity: 1;
    } 30% {
        width: 45px;
        height: 45px;
        opacity: 0;
    } 40% {
        width: 60px;
        height: 60px;
        opacity: 1;
    } 50% {
        width: 75px;
        height: 75px;
        opacity: 1;
    } 60% {
        width: 90px;
        height: 90px;
        opacity: 0;
    } 70% {
        width: 105px;
        height: 105px;
        opacity: 1;
    } 80% {
        width: 120px;
        height: 120px;
        opacity: 0;
    } 90% {
        width: 135px;
        height: 135px;
        opacity: 1;
    } 100% {
        width: 150px;
        height: 150px;
        opacity: 1;
    }
    
}

@keyframes flash-message {
    0% {
        transform: translateY(0px);
        opacity: 1;
    } 10% {
        transform: translateY(calc(-100% - 20px));
        opacity: 1;
    } 80% {
        transform: translateY(calc(-100% - 20px));
        opacity: 1;
    } 100% {
        opacity: 0;
        transform: translateY(calc(-100% - 20px));
    }
}