/* Global style */

html {
    --main-color:#111f28;
    --second-color: #484e52;
    --third-color: #e3cdb3;
    min-height: 100vh;
}

body {
    font-family: 'Overpass', sans-serif !important;
    background-color: var(--main-color);
}

main {
    min-height: 100vh;
}

/* headers */

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 15px;
    padding: 10px;
    color: #EEE;
}

h2 {
    margin-bottom: 25px;
    padding: 15px 15px 10px;
}

/* Paragraph */

p {
    color: #555;
}

/* link */

a {
    transition: .6s;
    font-weight: bold;
}

a:hover,
a:focus {
    text-decoration: none;
}


/* inputs */

label {
    color: #EEE;
}

button:focus {
    outline: none;
}

/* ******************** Framework ******************** */

.row {
    width: -webkit-fill-available;
    width: -moz-fill-available;
    width: -o-fill-available;
    width: -ms-fill-available;
}

.flag {
    width: max-content;
    padding-right: 25px;
}

.alert {
    border-radius: 0;
}

.shaking-message {
    position: relative;
    animation-name: shaking-message;
    animation-duration: .3s;
}

.divider {
    border-bottom: 1px solid #EEE;
    margin: 20px auto;
}

/* ****************** App style ****************** */

::-webkit-scrollbar {
    width:10px;
}

/* ::-webkit-scrollbar-track { } */

::-webkit-scrollbar-thumb { 
    background-color: var(--second-color);
    border-radius: 1px;
    border-radius: 5px;
    cursor: pointer;
    opacity: .7;
}

/* Main */

/* main {
    height: 100vh;
} */

/* navbar */

nav.navbar {
    padding: 0;
}

nav.navbar .upper-nav {
    background-color: var(--second-color);
    /* border-bottom: 1px solid var(--third-color); */
}

nav.navbar .logo {
    font-weight: bolder;
    font-size: 34px;
}

nav.navbar .logo h1 {
    background-color: transparent;
}

.upper-nav .navbar-social a {
    color: #FFF ;
}

.upper-nav .search-box-icon button {
    padding: 8px 12px 4px;
    background-color: var(--third-color);
    border-radius: 5px 0px 0px 5px;
    border: none;
    color: #888;
}

.upper-nav .search-box-icon button:focus {
    border: none;
    outline: none;
}

.upper-nav .search-box input[type='search'] {
    border-radius: 0px 5px 5px 0px;
    border: none;
    box-shadow: none !important;
}

.upper-nav .search-box input[type='search']:focus::placeholder {
    opacity: 0;
}

nav.navbar .lower-nav {
    border-bottom: 3px solid var(--third-color);
    padding: 12px 0px;
    background-color: #EEE;
}

nav.navbar .lower-nav ul li {
 padding-right: 15px;
}

nav.navbar .lower-nav a {
    color: var(--second-color);
    font-size: 18px;
}

nav.navbar .lower-nav a:hover,
nav.navbar .lower-nav a:focus {
    color: var(--main-color) !important;
}

/* My Artiles  */

.articles .article-image img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

/* add article form */

.categories-input {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}

.categories-input span {
    padding: 5px 15px 5px 0px;
    margin: 5px;
}

#add-category-btn,
#add-tag-btn {
    min-width: fit-content;
}

.tag,
.category {
    background-color: #f58634;
    color: #FFF;
    border-radius: 3px;
}

.category {
    background-color: #f5b134;
}

.remove-tag,
.remove-category {
    border-radius: 50%;
    border: 1px solid rgb(255, 48, 48);
    color: rgb(255, 48, 48);
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: .4s;
}

.remove-tag:hover,
.remove-category:hover {
    color: #FFF;
    background-color: rgb(255, 48, 48);
}

.publish-btn {
    width: 50%;
    display: flex;
    margin: auto;
    border: none;
    background-color: var(--main-color);
    text-align: center !important;
    color: #FFF;
    padding: 16px 25px 10px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}

.publish-btn:focus {
    border: none;
    outline: none;
    background-color: var(--main-color);
    opacity: .8;
}

.post-preview-panel {
    padding: 25px;
    border: 4px solid var(--main-color);
    max-height: 500px;
    overflow-y: auto;
}

.post-preview-panel h1 {
    font-size: 24px !important;
}

.post-preview-panel .article-meta {
    background-color: #EEE;
    padding: 0px 4px;
}

.post-preview-panel .article-author {
    font-size: 13px;
    padding: 5px;
    color: #666;
}

.post-preview-panel .article-date time {
    font-size: 8px;
    color: #888888;
    padding: 4px 4px 2px;
}

.post-preview-panel p {
    font-size: 12px;
    padding: 0px 4px;
}

/* Sign In Form */

.signin-form {
    box-shadow: 0px 3px 7px 1px #969696;
    border-radius: 10px;
    padding: 25px;
    background-color: var(--second-color);
}

.signin-divider {
    position: relative;
    margin: 35px auto;
    border-color: var(--third-color);
}

.signin-divider::after {
    content: 'or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--third-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}

/* Footer */

footer {
    background-color: var(--second-color);
    padding: 15px 0px;
}

footer p {
    color: #FFF;
    margin: 0;
}

/* Animations */

@keyframes shaking-message {
    0% {
        transform: translateX(10px);
    } 20% {
        transform: translateX(-20px);
    } 40% {
        transform: translateX(20px);
    } 60% {
        transform: translateX(-20px);
    } 80% {
        transform: translateX(20px);
    } 100% {
        transform: translateX(-10px);
    }
}